*
.btn
{
   border: 1px solid white;
   padding: 10px 30px;
   color: white;
   text-decoration: none;
   margin-right: 5px;
   font-size: 13px;
   text-transform: uppercase;
}

.btn-one
{
     background-color: darkorange;
     font-family: "roboto", sans-serif;
}

.btn-two
{
    font-family: "roboto", sans-serif;

}

.btn-two:hover
{
 background-color: darkorange;
 transition: all 0.5s ease-in;   
}